html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #a4b0c3;
}
.btn {
  padding: 0 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px -1px #191;
  border: none;
  display: block;
  margin-top: 10px;
  border: 1px solid #dfd;
}

.btn-big-green {
  color: #dfd;
  background: linear-gradient(45deg, #171, #5a5);
  font-size: 1em;
}

.btn-big-green:hover {
  animation: fade 0.5s ease forwards;
}

@keyframes fade {
  to {
    background: #fff;
    color: #191;
  }
}
.btn-big-blue {
  color: #ddf;
  background: linear-gradient(45deg, #117, #55a);
  font-size: 1em;
}
.btn-big-blue:hover {
  animation: fadeb 0.5s ease forwards;
}
@keyframes fadeb {
  to {
    background: #fff;
    color: #119;
  }
}
