input {
  padding: 0px 10px !important;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0;
  width: 60%;
	background: url(../images/quiz.jpg) no-repeat center fixed;
	background-size: cover;
  color: white;
  align-items: center;
  opacity: 0.9;
	border-radius: 0.5em;
	transition-property: box-shadow;
	transition-duration: 1s;
}

.form:hover,
.form:focus {
	box-shadow: 0 0 1em black;
}

.form h4 {
  font-weight: bold;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 20px 30px;
  font-size: 19px;
  line-height: 1.5em;
  flex-wrap: wrap;
  border-radius: 20px;
}

input:valid {
  color: #a3e0a3;
}

.input::-webkit-autofill {
	background: black;
}

.btn {
  padding: 0 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px -1px #191;
  border: none;
  display: block;
  margin-top: 10px;
  border: 1px solid #dfd;
}

.btn-big-green {
  color: #dfd;
  background: linear-gradient(45deg, #171, #5a5);
  font-size: 1em;
}

.btn-big-green:hover {
  animation: fade 0.5s ease forwards;
}

@keyframes fade {
  to {
    background: #fff;
    color: #191;
  }
}

@media only screen and (max-width: 600px) {
  .form {
    width: 100%;
  }
}