@import url("https://fonts.googleapis.com/css?family=Lobster");

.header {
  margin: 0;
  color: #555273;
  box-shadow: 0 0.1em 0.5em black;
  text-align: center;
	font-family: "Lobster";
	background-color: white;
}

.logo {
	width: 10em;
	height: 10em;
}

.content {
  margin: 0;
  padding: 5%;
  text-align: center;
}