@import url("https://fonts.googleapis.com/css?family=Lobster");
.header {
  margin: 0;
  padding: 1em;
  color: #555273;
  box-shadow: 0 0 0.5em black;
  text-align: center;
  font-family: "Lobster";
  background: linear-gradient(to right, #a4b0c3, #ffffff, #a4b0c3);
}
h1 {
  font-size: 2.2em;
}
.title {
  margin: 0;
}

.tagline {
  font-style: italic;
}

.content {
  margin: 0;
  padding: 5%;
  text-align: center;
}
