.question {
  padding: 0px 30px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border: 2px solid indigo;
  border-radius: 15px;
  box-shadow: 4px 4px gray;
  background: linear-gradient(to right, #eee, #fff);
  width: 50%;
}
.question h4 {
  font-size: 1.4em;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .question {
    width: 100%;
  }
  .question h4 {
    font-size: 1.1em;
  }
}
