.question {
  padding: 0px 30px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 30px;
  border: 2px solid indigo;
  border-radius: 15px;
  box-shadow: 4px 4px gray;
  background: linear-gradient(to right, #eee, #fff);
}
